<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.teleboost.camera">
    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.OpenCVStitchPOC">
        <activity
            android:name="com.teleboost.camera.stitch.StitchEntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
